/* Empty. Add your own CSS if you like */
h2{
	font-family: Verdana;
	font-weight: bold;
    text-align: center;
    font-color: #000000;
}
h3{
	font-family: Verdana;
	font-weight: normal;
	text-align: center;
}
p{
	text-align: justify;
	font-family: Verdana;
	font-size: 20;
	font-weight: normal;
}
div{
	margin: 0 auto;
}
form {
	width: 500px;
	margin: 50px auto;
	vertical-align: middle;
}
input[type="text"]{
	width: 300px;
	text-align: center;
	border: 1px solid #000000;
	font-family: Arial;
	font-weight: normal;
	padding: 2px;
	-moz-border-radius: 30px;
	-webkit-border-radius: 30px;
}
input[type="button"]{
	width: 100px;
	padding: 2px;
	font-family: Arial;
	font-weight: bold;
	-moz-border-radius: 30px;
	-webkit-border-radius: 30px;

}
#lore{

	float: left;

}
img.resize: {
	max-width: 50%;
}